.card {
  width: 160px;
  height: 160px;
  /* box-shadow: 20px 20px grey; */
  border: 1px solid black;
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  transition: transform 1s;
}

.card:hover {
  transform: scale(1.3);
  box-shadow: 20px 20px orange;
}

.card:active {
  transform: scale(1.3);
  box-shadow: 20px 20px orange;
}

#login-heading {
  margin-top: 0;
}

.login-card {
  /* width: 36%;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 30px;
  height: 70%;
  margin-top: -8%; */

  text-align: center;
  justify-content: center;
  align-content: center;
  height: auto;
    min-height: 458px;
    min-width: 20em;
    width: auto;
    padding: 0px 30px 0px 30px;
}

.heading {
  color: rgb(72, 39, 28);
  font-size: 23px;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}


.card_with_service{
  background: lightgrey;
    /* height: auto;
    min-height: 458px;
    min-width: 20em;
    width: auto;
    padding: 0px 30px 0px 30px; */
    /* width: 30em;
    height: 457px; */
}

.login-contents>div {
  margin: 1em;
}

#registration-heading {
  margin-top: 0;
}

.registration-card {
  width: 550px;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 30px;
  height: 100%;
}

.registration-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-contents>div {
  margin: 0em;
}

.personal-filed {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px 1px 0px;
}

.password-field {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px 1px 0px;
}

.card-1 {
  width: 200px;
  height: 200px;
  box-shadow: 20px 20px grey;
  border: 1px solid black;
  margin: 2em;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4em;
  flex-wrap: wrap;
}

.forgot-card {
  width: 450px;
  height: 350px;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 30px;
  margin: 1;
}

#orange {
  background: orange;
}

.forgot-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-container>div {
  margin: 1em;
}

.forgot-button {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.button-style {
  display: flex;
  justify-content: center;
}

.MailFind {
  color: brown;
  font-size: 23px;
}

.Recovery {
  color: seagreen;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.ServiceCardPage {
  width: 420px;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.cardDivision {
  display: flex;
  justify-content: center;
}

.loginContainerPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.servicePage {
  flex-direction: column;
}

.signUpFeel {
  margin: 30px;
}

.MuiToolbar-regular {
  min-height: 64px;
  justify-content: space-between;
  display: flex;
}

.appbar_div_1 {
  /* min-width: 232px; */
  height: 48px;
  /* width: 100%; */
  vertical-align: middle;
  align-items: center;
  display: flex;
  color: black;
}

.applogo {
  min-width: 232px;
  height: 48px;
  -webkit-box-align: center;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
  color: black;
}

.AccountCircle {
  padding: 2em;
}

/* --------------------------------------service card--------------------------------------- */

.serviceCard_HeaderTitle {
  font-family: 'Times New Roman', Times, serif;
  font-Size: 30px;
  justify-Content: center;
  align-Items: center;
  margin-left: 100px;
  padding: 1em;
}

.serviceCard_header {
  width: 100vw;
  height: 10vh;
  background: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .serviceCard_Notes {
 
} */

.Card_Note {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 25px;
  margin-top: 20px;
}

.service-cards {
  /* display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; */

  /* margin-top: 10%; */
  display: flex;
  justify-content: space-around;
  margin-top: 71px;
}
@media only screen and (max-width: 500px) {
.service-cards{
  flex-direction: column;
  align-items: center;
}

}
.serviceCard_selector {
  /* padding: 0px 19px;(we can use this also..) */
  font-size: 18px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceCard_LoginButton {
  color: #0606f8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 18px;
  margin-top: 10px;
}

.Innercard {
  width: 93%;
  height: 267px;
  padding: 4px;
  margin-top: -34px;
  margin-left: -17px;
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
}

.outercard {
  width: 200px;
  height: 270px;
  font-family: monospace;
  margin: 30px;
}

.serviceCard-Contant {
  font-stretch: inherit;
}

/* -------------------------------------createNotes----------------------------------------- */

.createNote_container {
  margin-top: 85px;
  margin-bottom: 36px;
  flex: 1 1 500px;
  box-sizing: border-box;
  max-width: 500px;
  min-width: 500px;
  border-radius: 7px;
}
.createNote_input_base{
  padding: 10px;
}

.CreateNote_Card1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.CreateNote_TextField {
  margin-Left: 8;
  flex: 1;
  width: 70%;
  height: 50px;
  word-wrap: break-word;
}

.first_Card_icons {
  padding: 0px 0px 0px 250px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 24%;
}

.CreateNote_Card2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SecondCard_createNotes {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  margin-bottom: 36px;
}

.input_field {
  padding: 6px 0px 4px 7px;
}

.mainDivCreate {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .closeButton {
 
} */

.iconEffect {
  color: #202124;
  opacity: 0.71;
}

/* ----------------------------------getCard----------------------------------------------------------------------- */

.get-cards1 {
  width: 258px;
  /* width:auto; */
  min-height: 100px;
  height: auto;
}

.get-container {
  position: relative;
  z-index: 1;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  /* display: flex;
  align-items: center; */



  /* justify-content: space-around; */
  /* width: 58%; */
  /* flex-wrap: wrap; */



  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px; */
}

.get-cardDetails>div {
  margin: 0.6em 0;
}

.column {
  float: left;
  width: 40%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.get-card-effect {
  /* float: right;
  width: 75%;
  flex-wrap: wrap; */
  /* padding: 0 16px; */
}
.get-Whole-Card:hover .get_Note_Icon {
  visibility: visible;
}
.get_Note_Icon{
  display: flex;
  justify-Content: space-between;
  width: 260px;
  visibility: hidden;
}

.getNotesMainDiv {
  width: 100%;
  padding-bottom: 5%;
}
.get_Note_comp{
  width: 93%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
}


/* -----------------------------------AppBar-------------------------------------------- */

.searchIcon {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.inputSearchField {
  max-width: 100%;
}

.searchEngine {
  width: 75%;
  border-radius: 8px;
  background: #f1f3f4;
  border: 1px solid transparent;
  max-width: 720px;
  color: black;
  display: flex;
  direction: ltr;
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  position: relative;
  height: 45px;
  align-items: center;
  transition: background 100ms ease-in, width 100ms ease-out;
}

.IconWithSearch {
  /* padding-right: 30px;
  max-width: 100%;
  padding-left: 10px;
  flex: 1 1 auto;
  width: 100%;
  height: 48px; */
  display: flex;
  height: 48px;
  width: 100%;
  margin-left: 10%;
}

@media only screen and (max-width: 900px) {
  .searchEngine {
    width: 100%;
    height: 46px;
  }
  .appbar_div_1 {
    margin: 0px;
    width: 0px;
  }
  .IconWithSearch {
    width: 25%;
  }
  .CreateNote_Card1 {
    margin: 36px 0px 0px 113px;
  }
}

@media only screen and (max-width:600) {
  .first_Card_icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 24%;
    padding: 0px 0px 0px 0px;
  }
}

/* -----------------------------------Drawer-------------------------------------------- */

/* .DrawerAllIcon{
  padding-left: 24px;
  letter-spacing: .01785714em;
} */

.DrawerSubIcon {
  border-radius: 0 25px 25px 0;
  color: #202124;
  letter-spacing: .01785714em;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.Label {
  color: #5f6368;
  cursor: default;
  letter-spacing: .07272727em;
  font-family: Roboto, Arial, sans-serif;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  padding: 15px 24px 10px;
}

.Icon {
  height: 24px;
  width: 24px;
  float: left;
  margin-top: 8px;
  vertical-align: middle;
  color: #5f6368;
  opacity: 1;
  margin-bottom: 7px;
}

.DrawerIcons {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.mainDrawerIcon {}

.iconName {
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: .875rem;
}

/* ------------------------------------------MoreComponent-------------------------- */

.moreOption {
  width: 159px;
  height: 159px;
  margin-top: 4px;
  padding-top: 15px;
  padding-left: 1px;
  background-color: #efe9e9;
}

.MoreItem {
  letter-spacing: .01428571em;
  font-family: Roboto, Arial, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

/* ----------------------------------drawer-Shift--------------------------------- */
#transition-left{
  margin-left: 5%;
}
#transition-right{
  margin-left: 5%;
}